<!doctype html>
<html>
	<head>

	<title>Meu site</title>
	<link rel= "shortcut icon" href= "icone.png">
	<meta charset= utf-8 />
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" type="text/css" href="cliente.css">
	<meta name= "author" content= "WIT Idiomas e Tecnologia">
	<meta name= "keywords" content= "idiomas,cursos de idiomas,cursos de ingles, ingles, informatica">
	<meta name= "description" content="Escola de cursos de idiomas e Tecnologia">
	<meta name= "DC.title" content="WIT Idiomas e Tecnologia">
	<meta name= "DC.subjetc" content="Cursos e treinamentos" lang="pt">
	<meta name= "DC.indentifier" scheme="DCTERMS.URI" content="http://witidiomas.com.br/">
	</head>
	
	<body>

				
        </div>

		<div>
		<h3>
		<table border="0" width="900" align="center">
		<font face="Arial" color="white">
		<p>
			Obs: site em construção para os estudos.
		</p>	

		</table>
		</h3>
		</div>
	</font>
		
</tr>

</div>

	</body>


</html>		