<doctype! html>


<html>
	<head>
		<link rel="stylesheet" type="text/css" href="initial.css">
	</head>

		<body>
		<h2 class="barra">
			<table border="0" width="0" height="150" align="left">
				<td align="right">
					<a href="index.html">Inicial</a>
					<a href="quemsomos.html">Quem Somos</a>
					<a href="contato.html">Contato</a>
				</td>
			</table>

			<table border="0" width="0" height="150" align="right">
				<td align="right">
					<a href="inicio.html">Entrar</a>
					<a href="cadastro.html">Cadastre-se</a>
				</td>
			</table>

		</h2>

		</body>


</html>