

		h2{
			border: double blue 2px;
		}





		a{
			background-color: #0000CD;
		    border: none;
		    color: white;
		    padding: 12px 28px;
		    text-align: center;
		    text-decoration: none;
		    font-size: 16px;
			color: white;

		}

		a:hover{
			background-color: #FFFFFFFF;
			color: #0000CD;
			border: solid 2px black;

		}
		.barra{
			border: solid 2px black;
			height: 100px;
			background: #0000CD;
		}
