<!doctype html>
<html>
	<head>
	<title>Quem Somos</title>

			<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
            	<script>
                      $(function(){
                      		$("#initial").load("initial.html"); 
                      		$("#footer").load("footer.html");


                       			  });
           		</script>			
			<div id="initial"></div>
	</head>

		<body>

			

		</body>
		<footer>
			<div id="footer"></div>
		</footer>
</html>